<%
   builds_measure = measure('builds')
   success_rate_measure = measure('build_success_density')
   failed_measure = measure('build_failures')
   average_duration_measure = measure('build_average_duration')
   longest_duration_measure = measure('build_longest_duration')
   shortest_duration_measure = measure('build_shortest_duration')
   durations_measure = measure('build_durations')
   results_measure = measure('build_results')
   if builds_measure
%>
  <div class="yui-gd">
    <div class="yui-u first">
      <div class="dashbox">
        <h3>Build success</h3>

        <p>
          <span class="big"><%= format_measure(success_rate_measure, :suffix => '') %> <%= tendency_icon(success_rate_measure, false) %></span>
        </p>

        <p>
          <%= format_measure(builds_measure, :suffix => ' builds') %> <%= tendency_icon(builds_measure) %>
        </p>

        <p>
          <%= format_measure(failed_measure, :suffix => ' failed') %> <%= tendency_icon(failed_measure) %>
        </p>
      </div>
    </div>
    <div class="yui-u">
      <div class="dashbox">
        <h3>Average duration of successful builds</h3>

        <p>
          <span class="big"><%= format_measure(average_duration_measure, :suffix => '') %> <%= tendency_icon(average_duration_measure, false) %></span>
        </p>

        <p>
          <%= format_measure(longest_duration_measure, :prefix => 'Longest ') %> <%= tendency_icon(longest_duration_measure) %>
        </p>

        <p>
          <%= format_measure(shortest_duration_measure, :prefix => 'Shortest ') %> <%= tendency_icon(shortest_duration_measure) %>
        </p>
      </div>
    </div>
    <% if durations_measure && results_measure %>
      <div>
        <%= chart('ck=buildsbar&w=350&h=200&v=' + durations_measure.data + '&c=' + results_measure.data) %>
      </div>
    <% end %>
  </div>
<% end %>
